<div class="card">
   <div class="card-header text-center bg-danger-subtle text-uppercase fw-semibold">Student Details List</div>
   <div class="card-body">
      <table class="table table-bordered">
         <thead>
            <tr>
               <th>S.No</th>
               <th>Name</th>
               <th>Age</th>
               <th>City</th>
               <th>Address</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let item of studentList;let i=index">
               <td>{{i+1}}</td>
               <td>{{item.sName}}</td>
               <td>{{item.sAge}}</td>
               <td>{{item.sCity}}</td>
               <td>{{item.sAddress}}</td>
               <td class="gap-2">
                  <div class="btn btn-primary btn-sm" (click)="getSingle(item.id)">edit</div>&nbsp;
                  <div class="btn btn-danger btn-sm" (click)="deleteData(item.id)">delete</div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
<p custDir [col]="'red'" class="okok ok done">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro non
   deserunt iste
   totam vero, amet,
   enim
   vitae quae
   alias nobis excepturi laboriosam earum ab dolore, repellendus voluptates quasi cumque! Laboriosam nulla, ea ipsam
   sint expedita ullam quaerat iure animi magni minus voluptates praesentium consequatur reprehenderit, at quam maiores
   sequi nostrum!
</p>
<p custDir [bg]="'pink'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro non
   deserunt iste
   totam vero, amet,
   enim
   vitae quae
   alias nobis excepturi laboriosam earum ab dolore, repellendus voluptates quasi cumque! Laboriosam nulla, ea ipsam
   sint expedita ullam quaerat iure animi magni minus voluptates praesentium consequatur reprehenderit, at quam maiores
   sequi nostrum!

</p>