.mt {
    color: red;
    background-color: rgb(166, 166, 242);
    font-weight: bold;
    padding: 20px;
}

.noproblem {
    border-bottom: 2px blue solid;
    padding: 20px;
    transition: ease-in-out .5s;
}