<div class="card">
    <div class="card-header bg-danger fw-bold text-white text-center">Ngrx-Tech Info</div>
    <div class="card-body px-4 my-3" [formGroup]="ngrxForm">
        <div class="name">
            <label for="name">Name</label>
            <input type="text" class="form-control mt-2" id="'name" formControlName="name">
        </div>
        <div class="email mt-3">
            <label for="email">Email</label>
            <input type="text" class="form-control mt-2" id="email" formControlName="email">
        </div>
        <div class="age mt-3">
            <label for="age">Age</label>
            <input type="text" class="form-control mt-2" id="age" formControlName="age">
        </div>
        <div class="tell mt-3">
            <label for="tell">Phone</label>
            <input type="text" class="form-control mt-2" id="tell" formControlName="phone">
        </div>
        <div class="button mt-4">
            <button *ngIf="isUpdate" class="btn btn-success btn-sm fw-bold px-3" (click)="onSubmitFrom()">save</button>&nbsp;
            <button *ngIf="!isUpdate" class="btn btn-success btn-sm fw-bold px-3" (click)="onSubmitFrom()">save</button>&nbsp;
            <button class="btn btn-danger btn-sm fw-bold px-3" (click)="onReset()">reset</button>
        </div>
    </div>
</div>